<div class="container fluid-height clearfix">
  <%= render 'head'%>
  <h2 class="heading">留言板</h2>
  <div class="widget-container fluid-height clearfix">

    <div class="col-lg-8">
      <%= render 'form' %>

    </div>

  </div>
</div>