<footer id="footer" xmlns="http://www.w3.org/1999/html">
  <!-- Footer Top Start -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
          <h3>产品中心</h3>
          <p>
          最新产品
          </p>
          <p>
            墙胶
          </p>
          <p>
           门胶
          </p>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
          <h3>新闻中心</h3>
          <ul id="tweets">
          <li>集团动态</li>
            <li>行业新闻</li>
          </ul>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-three">
          <% @cfgs.each do |cfg| %>
          <h3>联系我们</h3>
          <ul class="contact-us">
            <li>
              <i class="icon-map-marker" style="color: #ffffff"></i>
              <p>
                <strong style="color: #ffffff">公司地址:</strong><%= cfg.address%> <br>
              </p>
            </li>
            <li>
              <i class="icon-phone" style="color: #ffffff"></i>
              <p><strong style="color: #ffffff">联系电话:</strong> +<%= cfg.sale_tel%></p>
            </li>
            <li>
              <i class="icon-envelope" style="color: #ffffff"></i>
              <p><strong style="color: #ffffff">邮箱:</strong><%= cfg.email%></p>
            </li>
          </ul>
              <%end%>
        </section>
        <section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-four">
          <h3>关于我们</h3>
          <ul>
            <li>
          <p style="color: #ffffff">
            <i class="icon-globe" style="color: #ffffff"></i> <%= link_to '     集团概况',sides_path(keywords:"about"),style:"color: #ffffff",'data-no-turbolink'=>true %>
          </p>
            </li>
              </ul>
        </section>
      </div>
    </div>
  </div>
  <!-- Footer Top End -->
  <!-- Footer Bottom Start -->
  <div class="footer-bottom">

        <div align="center">Copyright &copy; 2015.Company name All rights reserved.</div>

  </div>


  <!-- Footer Bottom End -->
</footer>